<div class="login-card">
  <div class="card" style="width: 40rem;">
    <div class="card-body">
      <h1>Please Login</h1>
      <br />
      <form>
        <input
          id="username"
          type="text"
          name="username"
          placeholder="Username"
          style="height: 3rem; width: 20rem; border-radius: 5px;"
        />
        <br />
        <br />
        <input
          id="password"
          type="password"
          name="password"
          placeholder="Password"
          style="height: 3rem; width: 20rem; border-radius: 5px;"
        />
        <br />
        <br />
        <button class="btn btn-dark" id="loginsubmitBtn">Log In</button>
        <br />
        <br />
        <p>Click <a href="/signup">here</a> to sign up instead</p>
      </form>

    </div>
  </div>
</div>