<h4>Post</h4>
<h1>{{user.username}}</h1>
<button id="logoutBtn">Log out</button>

<br></br>

<form>
  <input id='todo' type="text" name="todo" placeholder="Walk the dog"/>

  <br></br>
  <form action="/api/blogs" method="POST" enctype="multipart/form-data">
    <input type="file" name="image" />
    <button type="submit">Upload</button>
  </form>

  <br></br>

  <button type="button" class="btn btn-dark" id="todosubmitBtn">Submit</button>

</form>

<ul id="todoList">
  {{#each user.blogs as |blog|}}
    <li>{{blog.content}}</li>
  {{/each}}
</ul>

<script src="/js/userProfile.js"></script>