<h1>{{user.username}}'s Profile</h1>
{{!-- <button id="logoutBtn">Log out</button> --}}

<br></br>

<form>
  <input id='chirp' type="text" name="chirp" placeholder="Please start chirping!!"/>

    <input class="d-inline" type="file" name="image" id="image"/>

  <button type="button" class="btn btn-dark d-inline" id="todosubmitBtn">Post</button>

</form>

<h5>Previous Posts: </h5>

<ul class="mt-5 list-group" id="todoList">
  {{#each user.blogs as |blog|}}
    <li class="d-inline list-group-item">{{blog.content}}</li>
    <div class="w-100 w-sm-50 w-md-25">
    <button id="deleteBtn" class="{{blog.id}} btn btn-dark btn-success float-right">Delete</button>
    </div>
    <br></br>
  {{/each}}
</ul>

