<h1>{{user.username}}'s Profile</h1>
{{!-- <button id="logoutBtn">Log out</button> --}}

<br></br>

<form>
  <input id='chirp' type="text" name="chirp" placeholder="Please start chirping!!"/>

    <input class="d-inline" type="file" name="image" id="image"/>

  <button type="button" class="btn btn-dark d-inline" id="todosubmitBtn">Post</button>

</form>

<h1>Previous Posts: </h1>

<ul class="mt-5" id="todoList">
  {{#each user.blogs as |blog|}}
    <li class="d-inline">{{blog.content}}</li>
    <button id="deleteBtn" class="{{blog.id}}">Delete</button>
  {{/each}}
</ul>

<script src="/js/userProfile.js"></script>