<h4>Post</h4>

<form>
  <input id='todo' type="text" name="todo" placeholder="Walk the dog"/>
  <button type="button" class="btn btn-dark">Sumbit</button>
</form>

<ul id="todoList">
  {{#each user.blogs as |blog|}}
    <li>{{blog.content}}</li>
  {{/each}}
</ul>


<script src="/js/userProfile.js"></script>