<h4>Post</h4>
<h1>{{user.username}}</h1>
<button id="logoutBtn">Log out</button>

<form>
  <input id='todo' type="text" name="todo" placeholder="Walk the dog"/>
  <button type="button" class="btn btn-dark" id="todosubmitBtn">Submit</button>
</form>

<ul id="todoList">
  {{#each user.blogs as |blog|}}
    <li>{{blog.content}}</li>
  {{/each}}
</ul>


<script src="/js/userProfile.js"></script>